name: Cron webhook

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -X POST https://webhook.site/TON-ID
